@font-face {
    font-family: 'Open Sans';
    src: 
        url('/fonts/OpenSans-Regular.ttf') format('ttf'),
        url('/fonts/OpenSans-Regular.woff') format('woff'),
        url('/fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Pacifico';
    src:
        url('/fonts/Pacifico-Regular.ttf') format('ttf'),
        url('/fonts/Pacifico-Regular.woff') format('woff'),
        url('/fonts/Pacifico-Regular.woff2') format('woff2');
    font-weight: 400;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.site-header {
    position: relative;
    height: 560px;
    margin-bottom: 75px;
    background-image: url('/img/mock-city_crop.jpg');
    background-position: top;
}

.site-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 58, 67, .4);
}

.header-wrapper {
    position: relative;
    padding-top: 30px;
    z-index: 1;
}

.site-logo {
    font-family: 'Pacifico', 'Arial', sans-serif;
    color: white;
}

.header_menu-list {
    margin-left: auto;
}

.header_menu-item {
    margin-left: 10px;
}

.header_menu-item a {
    font-size: 1.2rem;
}

.mid-txt {
    font-size: 1.2rem;
}

.main-txt {
    margin-bottom: 50px;
    text-align: center;
}

.main-feature {
    width: 320px;
}